:root{
    --azul-dnc: #0C70F2;
    --preto-dnc: #303030;
    --cinza-hover: #C9C9C9;

    --fonte-padrao: 'inter';

}




body{
    margin: 0px;
    padding: 0px;
        background: linear-gradient(180deg, rgba(12, 112, 242, 0.50) 20%, rgba(12, 112, 242, 0.00) 25%), #303030;
        background-repeat:no-repeat ;
}

    #menuPrincipal{
        width: 100%;
        height: 100px;
        background-color:var(--preto-dnc);
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #bababa;

    }

    #menuSup{
        display: flex;
        width: 45%;
        justify-content: space-around;
        align-items: center;
        margin-left: 5%;
    
    }
    #menuSup a{
        font-family:var(--fonte-padrao);
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        color: #FFF;
        text-decoration: none;

    }

    #menuSup a:hover{
        color: var(--cinza-hover);

        
    }

    #menuPrincipal button{
        margin-right: 5%;
        background-color: var(--azul-dnc);
        border: 0px;
        height: 40px;
        width: 80px;
        font-family: var(--fonte-padrao);
        font-size: 20px;
        font-weight: 600px;
        color:#FFF;
        box-shadow: 6px 4px 5px 0px rgba(12, 112, 242, 0.25);
        border-radius: 15px;
        cursor: pointer;

    }

    /*Seção Principal do Site */

    section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
        margin-bottom: 100px;

    }

    header{
        color:white;
        font-family: var(--fonte-padrao);

    }

    header h1{
        text-transform: uppercase ;
        font-size: 75px;
        font-weight: 600;
        text-align: center;
        
        
        margin-bottom: 25px;
    }

    header h2{

        text-align: center;
        font-size: 40px;
        font-weight: 450;

        margin-bottom: 100px;
    }

    header .invert{
        background-color: black;
        font-weight: bolder;
        padding: 3px;
    }
        /*Formulario*/

    form{
        color: white;
        font-family: var(--fonte-padrao);
        font-size: 25px;
        font-weight: 700;
        width: 600px;
    }

    .form-group{
        display: flex;
        flex-direction: column;
        margin: 15px 0px 15px 0px;
        
    }

    form input{
        border: 0px;
        border-radius: 8px;
        height: 30px;
        
        font-size: 20px;
        padding: 10px;
        background-color:#FFFFFFE5;

    }

    form label{
        margin: 10px 0px 10px 0px;
    }

    form input::placeholder{
        color: #39393950;
    }

    .checkbox-itens label{
        font-size: 25px;

    }

    .checkbox-itens{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    input[type="checkbox"]{
        transform: scale(1.8);
        cursor: pointer;
    }

    input[type="submit"]{

        background: #0C70F2E5;
        width: 100%;
        height: 55px;

        font-family: var(--fonte-padrao);
        font-size: 32px;
        font-weight: 600;
        line-height: 39px;
        margin-top: 100px;
        padding: 5px;
        color: #FFF;
        box-shadow: 0px 6px 4px 0px rgba(12, 112, 242, 0.25);
       
        cursor: pointer;

    }

    /*Footer*/

    footer{
        width: 100%;
        background-color: var(--azul-dnc);
    }

    footer nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 350px;
    }

    footer .lineOne{
        display: flex;
        justify-content: space-around;
        align-items: center;

    }

    footer ul{
        list-style: none;
        margin: 0px;
        padding: 0px;
    }

    footer h5{
        text-align: center;
        color: #FFF;
        font-weight: 800;
        font-size: 20px;
        font-family: var(--fonte-padrao);
        background-color: var(--preto-dnc);
        border-radius: 10px;

        padding: 10px 10px 10px 10px;
        margin-bottom: 15px;
    }



    footer ul li{
        font-family: var(--fonte-padrao);
        text-align: center;
        font-size: 20px;
        font-weight: 600px;
        margin: 20px 0px 20px 0px;
    }

    footer ul li a:hover{
        color: var(--cinza-hover);
    }

    footer ul li a{
        color: #FFF;
        text-decoration: none;
    }

    footer .Adress{
        font-family: var(--fonte-padrao);
        text-align: center;
        font-size: 20px;
        font-weight: 600px;

        color: #FFF;

    }

    footer .lineTwo{
       height: 35px;
       display: flex;
       justify-content: center;

       margin: 0px;
       padding: 10px;
    }

    footer .lineTwo a{
       color: #FFF;
       text-decoration: none;
       font-family: var(--fonte-padrao);
       font-size: 20px;
       font-weight: 600px;
       padding: 5px;
    }
      
    footer .lineTwo a:first-child{
        border-right: 3px solid #FFF;
    }

   footer .lineTwo a:hover{
    color: var(--cinza-hover);
   }

@media only screen and (max-width:600px){
    
    /*Menu*/
    
    #menuPrincipal{
        display: flex;
        flex-direction: column;
        height: auto;
        margin: 0px;
    }
    #menuSup{
        display: flex;
        flex-direction: column;
        width: 100%;

    }
    #menuSup a{
        display: flex;
        align-items: center;
        height: 50px;
        
    }

    #menuPrincipal button{
        width: 100%;
        margin: 0px;
    }
    
    /*section*/

    section h1{
        font-size: 35px;
    }

    section h2{
        font-size: 20px;
        padding: 0px 5px 0px 5px;
    }
     header .invert{
        background-color: black;
        font-weight: bolder;
        padding: 1px;
    
     }
    /*Fomr*/

    form{
        width: 80% ;
        font-size: 15px;
    }
    .checkbox-itens label{
        font-size: 14px;
    }
    

    /*Footer*/

    footer .lineOne{
        flex-direction: column;
        margin-bottom: 250px;
    }

}